@import 'mixins';
@import 'variables';
@import 'rwd';

%reset-css{
  box-sizing:border-box;
  margin:0px;
  outline:none 0px transparent;
  padding:0px;
}

%box {
  @include media(xsmall){
    padding:6px;
    width:100%;
    min-width:360px};
  @include media(small){
    width:480px
  };
  @include media(small,andlarger){
    padding:12px
  };
  margin:auto;
}